.Button {
  --color-gray-900: #111827;
  --color-gray-600: #4b5563;
  --color-gray-500: #6b7280;
  --color-gray-300: #d1d5db;
  --color-gray-200: #e5e7eb;
  --color-gray-100: #f3f4f6;
  --color-gray-50: #f9fafb;
  --color-blue: #3b82f6;

  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  padding: 0 0.875rem;
  margin: 0;
  outline: 0;
  border: 1px solid var(--color-gray-200);
  border-radius: 0.375rem;
  background-color: var(--color-gray-50);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--color-gray-900);
  user-select: none;
  cursor: pointer;
}

@media (hover: hover) {
  .Button:hover:not([data-disabled]) {
    background-color: var(--color-gray-100);
  }
}

.Button:active:not([data-disabled]) {
  background-color: var(--color-gray-200);
  box-shadow: inset 0 1px 3px var(--color-gray-200);
  border-top-color: var(--color-gray-300);
}

.Button:focus-visible {
  outline: 2px solid var(--color-blue);
  outline-offset: -1px;
}

.Button[data-disabled] {
  color: var(--color-gray-500);
  cursor: not-allowed;
}
