.Content {
  max-width: none;
  line-height: 1.75;
}

.Content h1,
.Content h2,
.Content h3,
.Content h4 {
  color: var(--color-gray-900, #111827);
  font-weight: 700;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3;
}

.Content p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.Content a {
  color: var(--color-blue, #3b82f6);
  text-decoration: underline;
  font-weight: 500;
}

.Content ul,
.Content ol {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
  list-style-type: disc;
}

.Content ol {
  list-style-type: decimal;
}

.Content li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.Content blockquote {
  font-weight: 500;
  font-style: italic;
  color: var(--color-gray-900, #111827);
  border-left-width: 0.25rem;
  border-left-color: var(--color-gray-200, #e5e7eb);
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1em;
}

.Content img {
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 0.375rem;
}
