.Field {
  /* Layout properties removed to allow overrides via className */
}

.Label {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
  user-select: none;
  cursor: pointer;
  color: var(--color-gray-900, #111827);
}

.Label[data-disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
