.Container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  max-width: 1280px; /* standard container max-width */
  padding-left: 1rem;
  padding-right: 1rem;
}

.Links {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.Link {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s;
}

.Link:hover {
  color: #00c16a;
}

.LinkActive {
  color: #00c16a;
}

.Separator {
  color: black;
}
