/* Content component styles */
:host {
  display: block;
}

div {
  /* Styles for WYSIWYG content */
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    font-weight: bold;
  }

  p {
    margin-bottom: 1rem;
    line-height: 1.6;
  }

  ul, ol {
    margin-bottom: 1rem;
    padding-left: 2rem;
  }

  a {
    color: #00c16a;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
